<?oxygen RNGSchema="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="xml"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title xml:lang="en">Events</title>
        <title xml:lang="ru">Мероприятия</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <group>
      <text xml:lang="en">
        <body>
          <p>This page is currently under construction.</p>
        </body>
      </text>
      <text xml:lang="ru">
        <body>
          <p>Страница в разработке</p>
        </body>
      </text>
    </group>
  </text>
</TEI>
